@page
@model SeniorConnect.Pages.login.IndexModel
@{
    ViewData["Title"] = "Login";
}
<div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-3 p-md-4 p-xl-5">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-5">
                            <h3>Inloggen</h3>
                        </div>
                    </div>
                </div>
                <form method="post" class="needs-validation" id="js-login-form" novalidate>
                    @if(ViewData.ModelState.ErrorCount > 0)
                    {
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @error.ErrorMessage
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        }
                    }

                    <div class="row gy-3 overflow-hidden">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="UserLoginRequest.Email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                <label asp-for="UserLoginRequest.Email" class="form-label">Email</label>
                                <div class="invalid-feedback">
                                    Voer een geldig e-mailadres in.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3 position-relative js-toggle-password">
                                <div class="form-floating w-full">
                                    <input asp-for="UserLoginRequest.Password" type="password" class="form-control" name="password" id="password" placeholder="Password" required minlength="6">
                                    <label asp-for="UserLoginRequest.Password" class="form-label">Wachtwoord</label>
                                    <div class="invalid-feedback">
                                        Uw wachtwoord moet minst 6 tekens.
                                    </div>
                                </div>
                                <i class="bi bi-eye-slash js-toggle-password-icon position-absolute" style="top:17px; left:91%"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <button class="btn bsb-btn-2xl btn-primary" type="submit">Inloggen</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <a class="btn bsb-btn-2xl btn-primary" href="/signup">Account aanmaken</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <p class="mt-5 mb-4">Of inloggen met</p>
                        <div class="d-flex gap-3">
                            <a type="submit" class="btn btn-lg btn-outline-danger" href="@Url.Action("SignInWithGoogle", "Auth")">
                                <i class="bi bi-google"></i> Login with Google
                            </a>
                            <form asp-controller="Auth" asp-action="SignInWithGoogle" method="get" class="form-inline">
                                <button type="submit" class="btn btn-lg btn-outline-danger">
                                    <i class="bi bi-google"></i> Inlogen met google account
                                </button>
                            </form>
                            <a href="#" class="btn btn-lg btn-outline-primary">
                                <i class="bi bi-facebook"></i> Inlogen met facebook account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>