@page
@model SeniorConnect.Pages.Volunteer.VolunteerModel
@{
}

<div class="vh-100 mt-5">
    <div class="m-auto">
        <h1 class="mb-4">Functie-release binnenkort</h1>
        <p class="lead mb-4">We zijn verheugd om aan te kondigen dat er binnenkort een nieuwe functie wordt uitgebracht!</p>
        <image src="https://cdn.dribbble.com/users/130116/screenshots/2432008/comingsoon.gif" class="img-fluid" alt="Coming Soon" />
        <p class="mb-4">Blijf op de hoogte voor updates.</p>
    </div>
</div>
