.custom-img-size {
    height: 93vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.carousel-caption-bottom {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
}

.carousel-caption-bottom h2 {
    font-size: 56px;
    font-weight: 700;
}

.carousel-caption-bottom p{
    font-size: 24px;
    font-weight: 500;
}

.carousel-caption-bottom h2,
.carousel-caption-bottom p {
    color: #fff;
    margin: 0;
}


.card-hover {
    position: relative;
    overflow: hidden;
}


.card-hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.card-hover:hover .overlay {
    opacity: 1;
}

.overlay-content {
    transform: translateY(20px);
    transition: transform 0.5s;
}

.card-hover:hover .overlay-content {
    transform: translateY(0);
}

.card-hover .card-body {
    visibility: hidden;
}

.card-hover:hover .card-body {
    visibility: visible;
}