@page
@model SeniorConnect.Pages.help.HelpModel
@{
}
<div class="row">
    <div class=" col-md-4 p-3">
        <div class="card">
            <img src="/helpLogin.png" class="card-img-top" alt="Img" />
            <div class="card-body">
                <h5 class="card-title">Hoe maak ik een account aan</h5>
                <p class="card-text">Account aanmaken</p>
                <a href="/activity/info" class="btn btn-primary">Lezen</a>
            </div>
        </div>
    </div>

    <div class=" col-md-4 p-3">
        <div class="card">
            <img src="/helpLogin.png" class="card-img-top" alt="Img" />
            <div class="card-body">
                <h5 class="card-title">Hoe maak ik een account aan</h5>
                <p class="card-text">Account aanmaken</p>
                <a href="/activity/info" class="btn btn-primary">Lezen</a>
            </div>
        </div>
    </div>

    <div class=" col-md-4 p-3">
        <div class="card">
            <img src="/helpLogin.png" class="card-img-top" alt="Img" />
            <div class="card-body">
                <h5 class="card-title">Hoe maak ik een account aan</h5>
                <p class="card-text">Account aanmaken</p>
                <a href="/activity/info" class="btn btn-primary">Lezen</a>
            </div>
        </div>
    </div>
</div>