@page
@model IndexModel
@{
    ViewData ["Title"] = "SeniorConnect";
}

 @section Slider {
    <div id="carouselExampleAutoplaying" class="carousel slide w-100 animate__animated animate__fadeInUp" data-bs-ride="carousel" data-bs-interval="12000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.everswinkel.de/de-wAssets/img/bilderpool/weblication/wThumbnails/366a7fb62313668gfdb45db2963f3123.jpg" class="d-block w-100 custom-img-size" alt="...">
                <div class="overlay">
                    <div class="carousel-caption-bottom animate__animated animate__fadeInUp" style="margin-bottom: 63px">
                        <h2 style="font-size: 70px">Je ben nooit te oud om te leven</h2>
                        <p>Met SeniorConnect ontmoeten, ontspannen, lachen maar ook leren, helpen en oplossen  </p>
                        <p></p>

                        <a class="arrow-container link-light animate__animated animate__infinite custom-moveUpDown" href="#show_categories">
                            <i class="bi bi-arrow-down h1"></i>
                        </a>
                        <p>Ontdek</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.50plusmill.nl/wp-content/uploads/2019/07/IMG_02561.jpeg" class="d-block w-100 custom-img-size" alt="...">
                <div class="overlay">
                    <div class="carousel-caption-bottom animate__animated animate__fadeInUp">
                        <h2>Leuke activiteiten</h2>
                        <p>Plezier met speciaal georganiseerde activiteiten.</p>
                        <p> Blijf actief, ontmoet nieuwe mensen en geniet van elke dag!</p>

                        <a class="arrow-container link-light animate__animated animate__infinite custom-moveUpDown" href="#show_categories">
                            <i class="bi bi-arrow-down h1"></i>
                        </a>
                        <p>Ontdek meer</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.oranjefonds.nl/sites/default/files/styles/hero/public/2023-03/NL%20Doet%20159.webp?itok=BrRepETt" class="d-block w-100 custom-img-size" alt="...">
                <div class="overlay">
                    <div class="carousel-caption-bottom animate__animated animate__fadeInUp">
                        <h2>Vrijwilligerswerk</h2>
                        <p>Maak het verschilt en geef uw tijd en talent een waardevolle bestemming.</p>
                        <a class="arrow-container link-light animate__animated animate__infinite custom-moveUpDown" href="#show_categories">
                            <i class="bi bi-arrow-down h1"></i>
                        </a>
                        <p>Ontdek meer</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.eentegeneenzaamheid.nl/wp-content/uploads/2024/05/Beeld-2mannen-uitsnede.jpg" class="d-block w-100 custom-img-size" alt="...">
                <div class="overlay">
                    <div class="carousel-caption-bottom animate__animated animate__fadeInUp">
                        <h2>Master class</h2>
                        <p>Deel uw ervaring of leer iets nieuws met onze boeiende masterclasses.</p>
                        <p>Ontmoet gelijkgestemden en blijf groeien.</p>
                        <a class="arrow-container link-light animate__animated animate__infinite custom-moveUpDown" href="#show_categories">
                            <i class="bi bi-arrow-down h1"></i>
                        </a>
                        <p>Ontdek meer</p>
                    </div>

                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
 }


<div class="text-center animate__animated animate__fadeInUp" id="show_categories">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-md-4 p-3">
            <div class="card h-100 card-hover" onclick="window.location='/activity/Activity'">
                <img src="https://static.vecteezy.com/ti/gratis-vector/p3/4661065-ouderen-mensen-activiteiten-set-vector.jpg" class="card-img-top img-card" alt="Img" />
                <div class="card-body">
                    <h5 class="card-title">Activiteiten</h5>
                    <p class="card-text">Wat doen we zoal</p>
                    <a href="/activity/Activity" class="btn btn-primary">Bekijken</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="card h-100 card-hover" onclick="window.location='/Volunteer/Volunteer'">
                <img src="https://elkwelzijn.nl/wp-content/uploads/elementor/thumbs/118087896_3567965756571440_6670835949777602655_o-ovjn03hwmmeg9olm03b5w9iu9d8k3s99c4se0pnttk.jpg" class="card-img-top img-card" alt="Img" />
                <div class="card-body">
                    <h5 class="card-title">Vrijwilligerswerk</h5>
                    <p class="card-text">Wat kun je doen in de buurt.</p>
                    <a href="/Volunteer/Volunteer" class="btn btn-primary">Bekijken</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="card h-100 card-hover" onclick="window.location='/activity/Activity'">
                <img src="https://static.vecteezy.com/ti/gratis-vector/p2/10506903-twee-oud-personen-studie-gratis-vector.jpg" class="card-img-top img-card" alt="Img" />
                <div class="card-body">
                    <h5 class="card-title">Masterclass</h5>
                    <p class="card-text ">
                        Je expertise delen en anderen inspireren
                        of doe mee aan de masterclass!
                    </p>
                    <a href="/activity/Activity" class="btn btn-primary">Bekijken</a>
                </div>
            </div>
        </div>
    </div>
</div>